# Entorno virtual
.venv/

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de logs
*.log

# Archivos de base de datos (por si usas SQLite u otros temporales)
*.db

# Variables de entorno (Docker, scripts, seguridad)
.env

# Docker
*.pid

# Archivos simulados de backup (si llegas a correr el script localmente)
*.tar.gz
/backups/
